.circle-block {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-color: $circleBlockBg;
  @include border-radius(50%);
  overflow: hidden;
  &__positioned {
    width: 100%;
    height: 100%;
    padding: 15%;
    @extend %centerer;
    @extend %flex-flow;
    &--video {
      padding: 0;
      .fancy-video {
        display: block;
        width: 100%;
        height: 100%;
        @extend %covered_bg;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: $sliderBgOpacity;
        }
        span {
          @extend %centerer;
          background-color: $whiteClr;
          box-sizing: content-box;
          box-shadow: 0 0 0 1.5rem rgba($secondClr, 0.7);
          border: 2rem solid rgba($secondClr, 0.9);
          width: 7rem;
          height: 7rem;
          @extend %flex-center;
          @include border-radius(50%);

          i {
            color: $bodyFontClr;
          }
        }
      }
    }
  }
  &--care-hands {
    background-color: $circleBlockBgBlue;
    .circle-block__positioned {
      padding: 0;
    }
  }
}