:root {
  --h: 1.6rem;
}
body {
  font-family: $bodyFont;
  font-weight: 400;
  //line-height: var(--h);
  color: $bodyFontClr;
  font-size: $bodyFontSize;
  word-spacing: 0.3rem;
  text-align: $right;
}
.heading-primary {
  color: $mainClr;
  font-size: $headingPrimary;
  margin-bottom: 2.5rem;
  &--second-clr {
    color: $secondClr;
  }
}

.heading-secondary {
  color: $mainClr;
  font-size: $headingSecondary;
  margin-bottom: 3.5rem;
  display: inline-block;
  position: relative;
  &:after {
    content: ' ';
    background-color: $mainClr;
    height: .1rem;
    width: 70%;
    position: absolute;
    bottom: -.4rem;
    left: 50%;
    @include translate(-50% , 0);
  }
  &:before {
    content: ' ';
    background-color: $mainClr;
    height: .6rem;
    width: 35%;
    position: absolute;
    bottom: -.65rem;
    left: 50%;
    @include translate(-50% , 0);
    @include border-radius(.5rem);
  }
  &--second-clr {
    color: $secondClr;
    &:after, &:before {
      background-color: $secondClr;
    }
  }
}
.burgundy-text {
  color: $burgundyFontClr;
}
.main-clr-text {
  color: $mainClr;
  &:hover {
    color: darken($mainClr, 10%);
  }
}
.limited-lines {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding-left: 0.2rem;
  .read-more {
    position: absolute;
    bottom: .1rem;
    #{$left}: -.1rem;
  }
}